@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: pangolin;
    src: url(Font/Pangolin/Pangolin-Regular.ttf);
}

@font-face {
    font-family: patrick;
    src: url(Font/Patrick_Hand/PatrickHand-Regular.ttf);
}

@font-face {
    font-family: handlee;
    src: url(Font/Handlee/Handlee-Regular.ttf);
}
@keyframes main-photo {

    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

.after-hover{
    position: relative;
}

.after-hover::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #616c5c;
}

.after-hover:hover::after{
    width: 100%;
    left: 0;
}